@model IEnumerable<SSDInternalProject.ViewModels.TicketVM>

@{
    ViewBag.Title = "ViewTicketLists";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ViewTicketLists</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderName)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "Customer")
</p>