@model IEnumerable<SSDInternalProject.ViewModels.TicketVM>

@{
    ViewBag.Title = "ViewTicketLists";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ViewTicketLists</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketVMId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusVMId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketVMId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuotedCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusVMId)
        </td>
        <td>
            @Html.ActionLink("Details", "ViewTicketListDetails", new { id=item.TicketVMId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to previous page", "Customer")
</p>